* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

/* Some common CSS */
.primary_btn {
    background-color: #010b55;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 50px;
    border: none;
}

.secondary_btn {
    border: 1px solid #010b55;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 50px;
}

.header_wrapper {
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid #ddd;

}

.header_content {
    width: 1100px;
    margin: 0 auto;
}

.header_content .navbar {
    display: flex;
    align-items: center;
}

.header_content .navbar ul {
    display: flex;
}

.header_content .navbar ul li {
    margin-right: 30px;
    list-style: none;
}

.header_content .navbar ul li a {
    text-decoration: none;
    color: #6a6a6a;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

.header_content .navbar .logo img {
    max-width: 15%;
}

/* Banner Section CSS */
.banner_wrapper {
    background: rgba(229, 84, 115, 0.10);
}

.banner_content {
    width: 1100px;
    margin: 0 auto;
    align-items: center;
    display: flex;
}

.banner_textbtn h3 {
    color: #272727;
    font-family: Lato;
    font-size: 70px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.banner_textbtn p {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 25px;
    margin-top: 20px;
}

.banner_textbtn button a {
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}

.banner_image img {
    max-width: 500px;
}

.about_wrapper {
    background-color: #fff;
}

.about_content {
    width: 1100px;
    margin: 0 auto;
}

.about_content h3 {
    font-size: 45px;
    text-align: center;
    margin-top: 100px;
    color: #3d3d3d;
}

.about_content .about_parts {
    display: flex;
    align-items: center;
    padding: 50px;
}

.about_img img {
    max-width: 500px;
}

.about_text h4 {
    font-size: 35px;
    color: #3d3d3d;
    padding-bottom: 10px;
    margin-top: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.about_text p {
    font-size: 17px;
    color: #3d3d3d;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 25px;
}

.secondary_btn a {
    text-decoration: none;
    font-size: 18px;
}

/* Featured Section CSS */
.featured_wrapper {
    background-color: #fff;
}

.featured_content {
    width: 1100px;
    margin: 0 auto;
}

.featured_content h3 {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: 100px;
    padding-bottom: 20px;
}

.featured_content p {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.three_items_wrapper {
    display: flex;
    align-items: center;
    margin-top: 100px;
}

.three_items_wrapper .single_item {
    width: 400px;
    height: 500px;
    padding: 30px;
    margin: 10px;
}

.three_items_wrapper .single_bg1 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

.three_items_wrapper .single_bg1 img {
    height: 470px;
}

.three_items_wrapper .single_bg2 img {
    height: 400px;
    text-align: center;
    margin-top: 50px;
}

.three_items_wrapper .single_bg2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}

.three_items_wrapper .single_bg3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

.only_text_area {
    display: flex;
    justify-content: space-around;
}

.only_text_area .two {
    padding-left: 200px;
}

.only_text_area a {
    color: #3a3a3a;
    font-size: 20px;
}

/* Feature Section */
.feature_wrapper {
    background-color: #fff;
    margin-top: 70px;
    margin-bottom: 70px;
}

.feature_wrapper .feature_content {
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.feature_wrapper .feature_content .item{
    padding: 60px;
    text-align: center;
}
.feature_wrapper .feature_content .item p{
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px;
}

/* Hot Deal Section */
.hot_deal_wrapper{
    border-radius: 8px;
background: rgba(229, 84, 115, 0.05);
}
.hot_deal_content{
    width: 1100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
}
.off_section h3{
    color: #272727;
font-family: Lato;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
text-align: center;
}
.off{
    color: #E55473;
}
.off_section p{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 30px;
}
.off_section button{
    display: block;
    margin: 0 auto;
    margin-top: 30px;
}
.off_section button a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

/* Insta Section CSS */
.insta_wrapper{
    background-color: #fff;
}
.insta_content{
    width: 1100px;
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 80px;
}
.insta_content h3{
    color: #272727;
text-align: center;
font-family: Lato;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin-bottom: 20px;
}
.insta_content p{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
margin-bottom: 50px;
}
.insta_image_wrapper{
    display: flex;
}
.insta_image_wrapper .single_img img{
    max-width: 95%;
    height: auto;
}

/* Newlatter Section CSS */
.newlatter_wrapper{
    background-color: #fff;
    padding-bottom: 100px;
}
.newlatter_content{
    width: 1100px;
    margin: 0 auto;
    text-align: center;
    background-image: url(../asset/Rectangle\ 9.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.newlatter_content .main_content{
    padding-top: 100px;
    padding-bottom: 100px;
}
.newlatter_content .main_content{
    padding-top: 100px;
    padding-bottom: 100px;
}
.newlatter_content .main_content h3{
    color: #272727;
text-align: center;
font-family: Lato;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin-bottom: 10px;
}
.newlatter_content .main_content p{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
}
.newlatter_content .main_content .input_box input{
    width: 680px;
    height: 50px;
    border: none;
    padding: 10px;
    border-radius: 5px;
}
.newlatter_content .main_content .input_box button a{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
}
.newlatter_content .main_content .input_box .nl_button{
    background-color: #010b55;
    padding: 18px 43px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 10px;
    border: none;
}

.footer_wrapper{
    background: #111010;
}
.footer_content{
    width: 1100px;
    margin: 0 auto;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}
.footer_content h1{
    color: #E55473;
font-family: Lato;
font-size: 48px;
font-style: normal;
font-weight: 800;
line-height: normal;
padding-bottom: 24px;
}
.footer_content span{
    color: #fff;
font-family: Lato;
font-size: 48px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin-bottom: 30px;
}
.footer_content p{
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 18px;
}
.footer_content small{
    color: rgba(255, 255, 255, 0.40);
font-family: Lato;
font-size: 16px;
font-weight: 400;
line-height: normal;
padding-top: 20px !important;
}